# Project exclude paths
/.gradle/
/local.properties
/.idea/
.idea/.gitignore
.idea/.name
.idea/caches/
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/vcs.xml
local.properties
/build/intermediates/lint-cache/api-versions-0-29.0.4.bin
